// Here you can add other styles

#areaChart{
	color:#b0bec5;
}

.disciplines{
	margin-top:2em;


	.card{
	width: 30%;
	}
}

#search-std{
	width: 100px;
}

#myChart{
 height: 100%;
 width: 100%;
}
// #canvas-3{
// 	display:none !important;
// }

.page-title{
	margin: 0.5em 0;
}

table {
	color: black;
}

.login{
	left:15%;
}

#entrar{
	margin-top:1em;
}

#home-boxes{
	.card:hover{
		cursor:pointer;
		padding:0.25em;
		background-color:#f2f2f2;

}
}

.page-link{
	color:#167495;
}

.tag:hover{
	cursor:pointer;
}

.loader {
	display:none;
	left:50%;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #3354ee;
  background: -moz-linear-gradient(left, #3354ee 10%, rgba(51,84,238, 0) 42%);
  background: -webkit-linear-gradient(left, #3354ee 10%, rgba(51,84,238, 0) 42%);
  background: -o-linear-gradient(left, #3354ee 10%, rgba(51,84,238, 0) 42%);
  background: -ms-linear-gradient(left, #3354ee 10%, rgba(51,84,238, 0) 42%);
  background: linear-gradient(to right, #3354ee 10%, rgba(51,84,238, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #3354ee;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #e4e5e6;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#myLoader{
	left:0%;
}

#myLoader:after{
	background:white;
}

.generate-model{
	display:none;
}

#classification-content{
	display:none;
}

#block-one,#block-two,#block-three{
	display:none;

	:hover{
		cursor:pointer;
		opacity:0.8;
	}
}

#select-all{
	margin-left: 0.25em;
    margin-top: 0.5em;
}


.diff{
	display:none;
}

.description{
	font-size: 16px;
}

#classification-link{
	text-decoration: none;
}

#classificar-again{
	margin-bottom:1em;
}

#home-group #students{
	cursor:default;
}
#material {
    color: #FF851B;
    border-color: #FF851B;
}
