// Here you can add other styles

#areaChart{
	color:#b0bec5;
}

.disciplines{
	margin-top:2em;


	.card{
	width: 30%;
	}
}

#search-std{
	width: 100px;
}

#myChart{
 height: 100%;
 width: 100%;
}
// #canvas-3{
// 	display:none !important;
// }

.page-title{
	margin: 0.5em 0;
}

table {
	color: black;
}

.login{
	left:15%;
}

#entrar{
	margin-top:1em;
}

#home-boxes{
	.card:hover{
		cursor:pointer;
		padding:0.25em;
		background-color:#f2f2f2;

}
}

.page-link{
	color:#167495;
}

.tag:hover{
	cursor:pointer;
}
